<div class="content">
  <h2>USUARIOS</h2>
<!-- Botón para abrir el modal de crear usuario -->
<button type="button" class="btn btn-primary" (click)="openCreateModal()">Agregar USUARIO</button>

  

  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>nombre</th>
        <th>phone</th>
        <th>email</th>
        <th>fullName</th>
        <th>Acciones</th>
  

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.fullName        }}</td>
    
        <td>
          <button class="btn btn-success" (click)="openEditModal(user)">Editar</button>
          <button class="btn btn-danger" (click)="confirmDelete(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  
  

</div>

<div *ngIf="showModal" class="modal fade show" style="display: block;" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Usuario</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="userId" class="form-label">ID:</label>
              <input type="text" id="userId" class="form-control" [value]="selectedUser?.id" disabled />
            </div>
            <div class="col-md-6">
              <label for="username" class="form-label">Username:</label>
              <input type="text" id="username" class="form-control" [(ngModel)]="selectedUser.username" name="username" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="fullName" class="form-label">Full Name:</label>
              <input type="text" id="fullName" class="form-control" [(ngModel)]="selectedUser.fullName" name="fullName" />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" class="form-control" [(ngModel)]="selectedUser.email" name="email" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="phone" class="form-label">Phone:</label>
              <input type="text" id="phone" class="form-control" [(ngModel)]="selectedUser.phone" name="phone" />
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Address:</label>
              <input type="text" id="address" class="form-control" [(ngModel)]="selectedUser.address" name="address" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" class="form-control" [value]="selectedUser?.password" disabled />
            </div>
          </div>

          <button type="button" class="btn btn-success" (click)="saveUser()">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear un nuevo usuario -->
<div *ngIf="showCreateModal" class="modal fade show" style="display: block;" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Usuario</h5>
        <button type="button" class="btn-close" (click)="closeCreateModal()"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="username" class="form-label">Nombre :</label>
              <input type="text" id="username" class="form-control" [(ngModel)]="newUser.username" name="username" required />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="fullName" class="form-label">tipo</label>
              <input type="text" id="fullName" class="form-control" [(ngModel)]="newUser.fullName" name="fullName" required />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">fecha:</label>
              <input type="date" id="email" class="form-control" [(ngModel)]="newUser.email" name="email" required />
            </div>
          </div>

  

          <button type="button" class="btn btn-primary" (click)="createUser()">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>



<style>
.form-control {
  color: black; /* Color del texto en los inputs */
  background-color: white; /* Color de fondo de los inputs */
}
.modal {
    display: block; /* Mostrar el modal cuando showModal es true */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  input {
  color: black;  /* Cambia el color del texto dentro de los inputs a negro */
}

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: -20%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .comparison-info {
    margin: 20px 0;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #006064;
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .comparison-table th,
  .comparison-table td {
    padding: 10px;
    border: 1px solid #dddddd;
  }

  .comparison-table thead tr {
    background-color: #009879;
    color: #ffffff;
  }

  .comparison-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .pagination button {
    margin: 0 5px;
  }

  .active {
    background-color: #009879;
    color: white;
  }
</style>
