<div class=" content">
  <div class=" row">

    <div>
      <h1> Graficas con relacion al dispositivo IOT</h1>
      <iframe title="bigdata" width="1200" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOTVhNmMxOWMtYTBmOC00MmU1LWI1MTMtZGZiMTY0ZGM4MzBjIiwidCI6IjA3ZGE2N2EwLTFmNDMtNGU4Yy05NzdmLTVmODhiNjQ3MGVlNiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

    </div>
    
    <div>
      <h1> Ubicaciones de nuestros dispositivos IOT</h1>
      <iframe src="https://www.google.com/maps/d/embed?mid=1Y4wagV1DkVIhBIV6OmuCb3BjvenhVpI&ehbc=2E312F" width="1200" height="700"></iframe>

    </div>

  </div>
</div>